<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Golek Resto Explore Restaurant, Popular & Rating Restaurant">
    <meta name="theme-color" content="#79A661" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css ">
    <title>Restaurant Apps</title>
</head>

<body>
    <a href="#exploreRestaurant" class="skip__content">Skip To Content</a>
    <div class="nav__bg">
        <div class="nav__container">
            <header class="nav__header">
                <h1><a href="#/" class="nav__header-title">Golek Resto</a></h1>
                <button id="hamburgerButton" class="nav__header-button" aria-label="humberger">☰</button>
            </header>
            <nav id="navigationDrawer" class="nav">
                <ul class="nav__list">
                    <li><a class="nav__item" href="#/home">Home</a></li>
                    <li><a class="nav__item" href="#/favorite">Favorit</a></li>
                    <li><a class="nav__item" href="https://www.linkedin.com/in/naufal-yukafi-ridlo" target="_blank"
                            rel="noopener">About Us</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <main id="main__content"></main>

    <footer class="page-footer">
        <div class="foooter__item">
            <div class="footer__item-title">
                <h1>Golek Resto</h1>
                <p>Lumajang, Jl Banaspati Desa Kandangan Senduro</p>
            </div>
            <div class="footer__item-about">
                <h1>About</h1>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="mailto:naufalyukafi10@gmail.com" target="_blank" rel="noopener">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer__item-support">
                <h1>Support</h1>
                <ul>
                    <li><a href="https://www.dicoding.com/" target="_blank" rel="noopener">Dicoding</a></li>
                    <li><a href="https://bdd.kemenparekraf.go.id/" target="_blank" rel="noopener">Baperkraf Developer
                            Day</a></li>
                    <li><a href="https://dicoding-restaurant-api.el.r.appspot.com" target="_blank"
                            rel="noopener">Dicoding Restaurant
                            API</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__copyright">
            <div>Copyright © 2021 - Golek Resto</div>
        </div>
    </footer>

</body>

</html>